<%- include("partials/header")%>
    <div class="logo">
        <img src="images/d.png" alt="logo image">
        <br>
        <i class="fa-solid fa-envelope"></i> <i class="fa-regular fa-at"></i>
        <p style="text-decoration: underline;">jaiswalpak450@gmail.com</p>

        <h2 style="margin-top:1% ;">Let's Share Our Thoughts</h2>
        <form class="contact">
            <h5>Your Details</h5>
            <label for="fname">First Name:</label>
            <input id="fname" type="text" placeholder="FName">
            <label for="lname">Last Name:</label>
            <input id="lname" type="text" placeholder="LName">
            <br>
            <label for="mail">E-mail:</label>
            <input id="mails" type="email" placeholder="example@gmail.com">
            <br>
            <label for="number">Contact:</label>
            <input id="number" type="text" placeholder="Contact Number">
            <label for="address">Address:</label>
            <input id="address" type="text" placeholder="Address">
            <br>
            <label for="message">Message for me</label>
            <br>
            <textarea name="message" id="message" cols="30" rows="5"></textarea>
        </form>
    </div>