<%- include("partials/header")%>
    <div id="home">
        <img src="images/icon.png" alt="the icon image" width="100px">
        <h1>The Weather App</h1>
        <div class="box">
            <form action="/weather" method="post">
                <input class="cName" name="Name" type="text" placeholder="City Name" autocomplete="off">
                <button type="submit"><i class="fa fa-search fa-1.5x" aria-hidden="true"></i> Search</button>
            </form>
        </div>
    </div>